<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}  {% endblock title %}</title>

    <!-- favicon icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicons/site.webmanifest">

    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- plugin styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/seolight-icons.css">
    <!-- template style -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>

<body>

    <div class="preloader">
        <img src="/static/images/loader.png" class="preloader__image" alt="">
    </div><!-- /.preloader -->
    <div class="page-wrapper">
        <section class="main-header-wrapper">
            <div class="topbar-one">
                <div class="container">
                    <div class="topbar-one__left">
                        <p><i class="fa fa-map-marker"></i>380 St Kilda Road, Melbourne, Australia</p>
                    </div><!-- /.topbar-one__left -->
                    <div class="topbar-one__right">
                        <p><i class="fa fa-clock"></i>Open Hours: Mon - Sat: 8 am - 5 pm, Sunday: CLOSED</p>
                    </div><!-- /.topbar-one__right -->
                </div><!-- /.container -->
            </div><!-- /.topbar-one -->
            <header class="site-header-one stricky site-header-two ">
                <div class="container">
                    <div class="inner-container">
                        <div class="site-header-one__logo">
                            <a href="index.html">
                                <img src="/static/images/logo-3-1.png" alt="">
                            </a>
                            <a href="#" class="side-menu__toggler"><i class="fa fa-bars"></i></a>
                        </div><!-- /.site-header-one__logo -->
                        <div class="main-nav__main-navigation">
                            <ul class="main-nav__navigation-box">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li><a href="/about">About</a></li>
                                <li>
                                    <a href="/services">Services</a>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                                <li class="search-btn search-popup__toggler">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </li>
                            </ul><!-- /.main-nav__navigation-box -->
                        </div><!-- /.main-nav__main-navigation -->
                        <div class="main-nav__right">
                            <a href="tel:3421-221-3259" class="header-cta-btn">
                                <i class="seolight-icon-phone-circle"></i>
                                <span>(24 hours / 7 days)</span>
                                <strong>3421 221 3259</strong>
                            </a><!-- /.header-cta-btn -->
                        </div><!-- /.main-nav__right -->
                    </div><!-- /.inner-container -->
                </div><!-- /.container -->
            </header><!-- /.site-header-one -->

        </section><!-- /.main-header-wrapper -->


    {% block body %}



    {% endblock body %}

    <section class="cta-one wow fadeInUp" data-wow-duration="1500ms">
            <div class="container ">
                <div class="inner-container ">
                    <h3>Want to contact with <span>us?</span></h3>

                    <div class="cta-one__btn-block">
                        <a href="/contact" class="thm-btn cta-one__btn">Get a quote</a>
                        <!-- /.thm-btn cta-one__btn -->
                    </div><!-- /.cta-one__btn-block -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </section><!-- /.cta-one -->
        

    <footer class="site-footer site-footer__two">
            <img src="/static/images/shapes/footer-bg-2-1.png" class="site-footer__shape-2" alt="">
            <img src="/static/images/shapes/footer-bg-2-2.png" class="site-footer__shape-3" alt="">
            <div class="site-footer__upper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <div class="footer-widget footer-widget__about">
                                <a href="index.html" class="footer-widget__logo">
                                    <img src="/static/images/logo-3-2.png" alt="">
                                </a>
                                <p>30 Commercial Road Fratton <br> PORTSMOUTH Hampshire PO1 1AA <br> UNITED KINGDOM</p>
                                <p><span>Open Hours: </span></p>
                                <p>Mon - Sat: 8 am - 5 pm, <br> Sunday: CLOSED</p>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 col-md-12 -->
                        <div class="col-lg-5 col-md-12">
                            <div class="footer-widget footer-widget__links">
                                <h3 class="footer-widget__title"><span>Links</span></h3><!-- /.footer-widget__title -->
                                <ul class="list-unstyled footer-widget__links-list">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/services">Services</a></li>
                                    <li><a href="/about">About us</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="/team">Team</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Gallery</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                </ul><!-- /.list-unstyled footer-widget__links-list -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-5 col-md-12 -->
                        <div class="col-lg-4 col-md-12">
                            <div class="footer-widget footer-widget__newsletter">
                                <h3 class="footer-widget__title"><span>Newsletter</span></h3>
                                <!-- /.footer-widget__title -->
                                <p>Send us a newsletter to get update</p>
                                <form action="#" class="footer-widget__mc-form">
                                    <input type="text" name="email" placeholder="Your mail address">
                                    <button type="submit"><i class="far fa-paper-plane"></i></button>
                                </form><!-- /.footer-widget__mc-form -->
                                <div class="footer-widget__social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div><!-- /.footer-widget__social -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__upper -->
            <div class="site-footer__bottom">
                <div class="container text-center">
                    <p>2020 © All rights reserved by <a href="#">LayerDrops</a></p>
                </div><!-- /.container -->
            </div><!-- /.site-footer__bottom -->
        </footer><!-- /.site-footer -->
    </div><!-- /.page-wrapper -->
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


    <div class="side-menu__block">


        <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-menu__block-overlay -->
        <div class="side-menu__block-inner ">
            <div class="side-menu__top justify-content-end">

                <a href="#" class="side-menu__toggler side-menu__close-btn"><img
                        src="/static/images/shapes/close-1-1.png" alt=""></a>
            </div><!-- /.side-menu__top -->


            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>
            <div class="side-menu__sep"></div><!-- /.side-menu__sep -->
            <div class="side-menu__content">
                <p>SEOlight is a premium HTML Template for travel, tours, trips, adventures and a wide range of other
                    tour agencies.</p>
                <p><a href="mailto:needhelp@seolight.com">needhelp@seolight.com</a> <br> <a href="tel:888-999-0000">888
                        999
                        0000</a></p>
                <div class="side-menu__social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-behance"></i></a>
                </div>
            </div><!-- /.side-menu__content -->
        </div><!-- /.side-menu__block-inner -->
    </div><!-- /.side-menu__block -->


    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- /.search-popup__inner -->
    </div><!-- /.search-popup -->

    <script src="/static/js/jquery-3.5.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/isotope.js"></script>
    <script src="/static/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/TweenMax.min.js"></script>
    <script src="/static/js/wow.js"></script>
    <script src="/static/js/theme.js"></script>
</body>

</html>