{% extends "base.html" %}  

{% block title %}
Vectorlytics | Contact
{% endblock title %}

{% block body %}

        <section class="page-header">
            <div class="container">
                <h2>Contact</h2>
                <ul class="list-unstyled thm-breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><span>Contact</span></li>
                </ul><!-- /.list-unstyled thm-breadcrumb -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->


        <section class="contact-info-one">
            <div class="container">
                <img src="/static/images/shapes/contact-info-shape-1-1.png" class="contact-info-one__bg-shape-1" alt="">
                <div class="block-title text-center">
                    <div class="block-title__line"></div><!-- /.block-title__line -->
                    <h3>Contact us for any help</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do <br> eiusmod tempor incididunt ut labore et dolore.</p>
                </div><!-- /.block-title text-center -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="contact-info-one__single">
                            <div class="contact-info-one__icon">
                                <i class="fa fa-phone"></i>
                            </div><!-- /.contact-info-one__icon -->
                            <div class="contact-info-one__content">
                                <h3>Call us now:</h3>
                                <h4><a href="tel:421-887-8822">(421) 887 8822</a></h4>
                                <p>Lorem ipsum dolor sit amet, contop sectetur adipisicing elit, sed.</p>
                            </div><!-- /.contact-info-one__content -->
                        </div><!-- /.contact-info-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="contact-info-one__single">
                            <div class="contact-info-one__icon">
                                <i class="fa fa-envelope"></i>
                            </div><!-- /.contact-info-one__icon -->
                            <div class="contact-info-one__content">
                                <h3>Mail for any help:</h3>
                                <h4><a href="mailto:info@seolight.com">info@seolight.com</a></h4>
                                <p>Lorem ipsum dolor sit amet, contop sectetur adipisicing elit, sed do eius mod tempor incididunt.</p>
                            </div><!-- /.contact-info-one__content -->
                        </div><!-- /.contact-info-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="contact-info-one__single">
                            <div class="contact-info-one__icon">
                                <i class="fa fa-map-marker-alt"></i>
                            </div><!-- /.contact-info-one__icon -->
                            <div class="contact-info-one__content">
                                <h3>Location:</h3>
                                <h4>530 Hunk Road, Newyork</h4>
                                <p>Lorem ipsum dolor sit amet, contop sectetur adipisicing elit, sed do eius mod tempor incididunt.</p>
                            </div><!-- /.contact-info-one__content -->
                        </div><!-- /.contact-info-one__single -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.contact-info-one -->

        <section class="contact-one">
            <div class="container">
                <div class="row no-gutters justify-content-center">
                    
                    <div class="col-lg-8">
                        <form action="#" class="contact-one__form">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" placeholder="Full Name" name="name">
                                </div><!-- /.col-md-12 -->
                                <div class="col-md-12">
                                    <input type="text" placeholder="Email" name="email">
                                </div><!-- /.col-md-12 -->
                                <div class="col-md-12">
                                    <select name="discussion" class="selectpicker">
                                        <option value="0">Select Topic</option>
                                        <option value="0">Select Topic</option>
                                        <option value="0">Select Topic</option>
                                        <option value="0">Select Topic</option>
                                    </select><!-- /# -->
                                </div><!-- /.col-md-12 -->
                                <div class="col-md-12">
                                    <textarea placeholder="write.."></textarea>
                                </div><!-- /.col-md-12 -->
                                <div class="col-md-12">
                                    <button type="submit" class="thm-btn contact-one__btn">Submit</button>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </form><!-- /.contact-one__form -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row no-gutters -->
            </div><!-- /.container -->
        </section><!-- /.contact-one -->


{% endblock body %}