{% extends "base.html" %}  

{% block title %}
Vectorlytics | Team
{% endblock title %}

{% block body %}
        <section class="page-header">
            <div class="container">
                <h2>Team</h2>
                <ul class="list-unstyled thm-breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><span>Team</span></li>
                </ul><!-- /.list-unstyled thm-breadcrumb -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="team-one">
            <div class="container">
                <img src="/static/images/shapes/contact-info-shape-1-1.png" class="contact-info-one__bg-shape-1" alt="">
                <div class="block-title text-center">
                    <div class="block-title__line"></div><!-- /.block-title__line -->
                    <h3>We have an expert team</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do <br> eiusmod tempor incididunt ut
                        labore et dolore.</p>
                </div><!-- /.block-title text-center -->

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="team-one__single">
                            <div class="team-one__image">
                                <img src="/static/images/team/team-1-1.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div><!-- /.team-one__social -->
                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <div class="team-one__content-icon">
                                    <i class="fab fa-dribbble"></i>
                                </div><!-- /.team-one__content-icon -->
                                <div class="team-one__content-text">
                                    <h3><a href="#">Inez Gross</a></h3>
                                    <p>Exicutive Offecier</p>
                                </div><!-- /.team-one__content-text -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="team-one__single">
                            <div class="team-one__image">
                                <img src="/static/images/team/team-1-2.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div><!-- /.team-one__social -->

                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <div class="team-one__content-icon">
                                    <i class="fab fa-twitter"></i>
                                </div><!-- /.team-one__content-icon -->
                                <div class="team-one__content-text">
                                    <h3><a href="#">Nelle Morrison</a></h3>
                                    <p>Exicutive Offecier</p>
                                </div><!-- /.team-one__content-text -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="team-one__single">
                            <div class="team-one__image">
                                <img src="/static/images/team/team-1-3.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div><!-- /.team-one__social -->

                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <div class="team-one__content-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </div><!-- /.team-one__content-icon -->
                                <div class="team-one__content-text">
                                    <h3><a href="#">Emily Cannon</a></h3>
                                    <p>Exicutive Offecier</p>
                                </div><!-- /.team-one__content-text -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="team-one__single">
                            <div class="team-one__image">
                                <img src="/static/images/team/team-1-4.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div><!-- /.team-one__social -->

                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <div class="team-one__content-icon">
                                    <i class="fab fa-dribbble"></i>
                                </div><!-- /.team-one__content-icon -->
                                <div class="team-one__content-text">
                                    <h3><a href="#">Francis Burke</a></h3>
                                    <p>Exicutive Offecier</p>
                                </div><!-- /.team-one__content-text -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="team-one__single">
                            <div class="team-one__image">
                                <img src="/static/images/team/team-1-5.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div><!-- /.team-one__social -->

                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <div class="team-one__content-icon">
                                    <i class="fab fa-twitter"></i>
                                </div><!-- /.team-one__content-icon -->
                                <div class="team-one__content-text">
                                    <h3><a href="#">Jean Moore</a></h3>
                                    <p>Exicutive Offecier</p>
                                </div><!-- /.team-one__content-text -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="team-one__single">
                            <div class="team-one__image">
                                <img src="/static/images/team/team-1-6.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div><!-- /.team-one__social -->

                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <div class="team-one__content-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </div><!-- /.team-one__content-icon -->
                                <div class="team-one__content-text">
                                    <h3><a href="#">Marie Blake</a></h3>
                                    <p>Exicutive Offecier</p>
                                </div><!-- /.team-one__content-text -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.team-one -->


        

{% endblock body %}